{% extends 'themes/default/app/pages/security/template.html.twig' %}

{% block title %}Création d'un espace membre {{ parent() }}{% endblock %}

{% block main_content %}
<div id="login">
    <section class="formulaire">

        <h1>Nous rejoindre !</h1>

        <form method="post">
            test
        </form>
    </section>
</div>
{% endblock %}