@import "../vars/vars.scss";

.toolbar{ display: none; }

.budget-months{
    @include flex(row, center, flex-start);
    overflow-x: auto;
    margin-bottom: 24px;
    margin-top: 24px;
}

.card-budget-toSpend{
    color: var(--alpha);

    .card-1-body{
        margin-bottom: 16px;
        opacity: 0.8;
    }
    &.positive{
        background-color: var(--success);
    }
    &.negative{
        background-color: var(--danger);
    }
}

.card-budget-cards{
    .card-1-body{
        margin-top: 24px;
    }
    .card-1-body, .card-1-footer{
        border-top: 1px solid var(--colorDisabled);
    }

    .objet{
        @include flex(row, flex-start, space-between);

        .delete{
            cursor: pointer;
            opacity: 0.7;
            transition: all 0.2s ease;

            &:hover{
                opacity: 1;
                transform: translateX(2px);
            }
        }
    }
}

.years, .budget-months{
    .item{
        @include flex(column, center, center);
        padding: 12px;
        border-radius: 10px;
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.2s ease;

        &.active{
            background-color: var(--color0);
            color: var(--alpha);
            opacity: 1;
            cursor: initial;

            &:hover{
                transform: translateY(0);
            }
        }

        &:hover{
            opacity: 1;
            transform: translateY(-2px);
        }
    }
}

.years{
    @include flex(row, center, space-between);
    margin-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color5);
}

.card-budget{

    .card-1-header{
        @include flex(column, center, flex-start);
        border-bottom: 1px solid var(--color5);
        padding-right: 0; padding-left: 0;
        margin-right: 12px; margin-left: 12px;
    }

    .card-1-header-type{
        width: 46px; height: 46px;
        background-color: var(--colorDisabled);
        border-radius: 50px;
        @include flex(row, center, center);

        &.regularSpend{ background-color: var(--danger-bg); }
        &.income{ background-color: var(--primary-bg); }
        &.economy{ background-color: var(--warning-bg); }
        &.outgo{ background-color: var(--dark-bg); }
    }

    .card-1-header-infos{
        text-align: center;
        width: 100%;
        margin-top: 12px;
    }

    .subtitle{
        margin-top: 4px;
        padding-bottom: 12px;
    }

    .card-1-body{
        .objet{
            @include flex(row, flex-start, flex-start);

            .name{
                width: 60%;
            }
            .price{
                width: 30%;
            }
            .goal{
                font-size: 14px;
                opacity: 0.7;
            }
            .delete{
                width: 10%;
                text-align: right;
                cursor: pointer;
                transition: all 0.2s ease;
                padding-right: 3px;
                opacity: 0.5;

                &:hover{
                    transform: scale(1.05);
                    opacity: 1;
                }
            }
        }
    }

    .card-1-footer{
        .items{
            flex-wrap: initial;
            justify-content: space-between;

            .item-name{
                width: 57%;

                & + .item-price{
                    width: 33%;
                }

                & + .item-goal{
                    width: 35%;

                    select{
                        width: 100%;
                    }
                }
            }

            .item:last-child{
                width: 4%;
                transform: translateY(6px);
            }

            button{
                transition: all 0.2s ease;

                &:hover{
                    transform: scale(1.05);
                }
                &:focus{
                    outline-color: transparent;
                }
            }
        }
    }
}

.add-goal{
    margin-top: 12px;
    font-size: 14px;
    color: var(--color0);
    cursor: pointer;
    opacity: 0.8;

    &:hover{
        opacity: 1;
    }
}
.goal-progress{
    position: relative;
    background-color: var(--colorBorder);
    border-radius: 5px;
    width: 80%;
    height: 3px;

    &:after{
        content: '';
        position: absolute;
        top: 0; left: 0;
        background-color: var(--success);
        height: 3px;
        display: block;
    }

    &.progress-overkill{
        &:after{
            background-color: var(--danger);
        }
    }

    &.progress-25{&:after{width: 25%;}}
    &.progress-50{&:after{width: 50%;}}
    &.progress-75{&:after{width: 75%;}}
    &.progress-85{&:after{width: 85%;}}
    &.progress-100{&:after{width: 100%;}}
}

.goal-overkill{
    font-size: 14px;
    opacity: 0.7;
    color: var(--danger);
    margin-bottom: 4px;
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
    .budget-cards{
        overflow: hidden;

        .budget-cards-container{
            @include flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            width: calc(100% + 24px);
        }
    }
    .card-budget{

        .card-1-header{
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
        }
    
        .card-1-header-infos{
            text-align: left;
            margin-left: 24px;
            margin-top: 0;
            width: calc(100% - 46px - 24px);
        }
    }
    .budget-outgos{
        .card-1{
            width: 100%;
        }
    }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
    .budget-cards{
        .budget-cards-container{
            width: calc(100% + 34px);
        }
    }
}

//                      __   _ _____  __    __     __
//                     | _| / |___ / / /_  / /_   |_ |
//    _____ _____ _____| |  | | |_ \| '_ \| '_ \   | |_____ _____ _____
//   |_____|_____|_____| |  | |___) | (_) | (_) |  | |_____|_____|_____|
//                     | |  |_|____/ \___/ \___/   | |
//                     |__|                       |__|
@media (min-width: 1366px){
    .budget-months{
        justify-content: center;
    }
}