@import "../vars/vars";

@import "../../../common/css/components/planning";

.years{
  @include flex(row, center, space-between);
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--fond);

  & > *{
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
  }

  .current{
    background: var(--primary);
    color: var(--alpha);
  }
}

.card{
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--fond);

  .name{
    @include fontBold();
    font-size: 22px;
    margin-bottom: 12px;
  }

  &.current{
    color: var(--alpha);
    border: none;
  }

  &.current.true{
    background-color: var(--success);
  }
  &.current.false{
    background-color: var(--danger);
  }
}