@import "../vars/vars";

@import "../../../common/css/components/planning";

select{
  padding: 7.8px 10px;
}

.years{
  @include flex(row, center, space-between);
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--fond);

  & > *{
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
  }

  .current{
    background: var(--primary);
    color: var(--alpha);
  }
}

.days{
  margin-bottom: 24px;
}

.planning-line{
  margin-bottom: 12px;

  & > .card:not(:last-child){
    margin-bottom: 12px;
  }
}

.card{
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--fond);
  background-color: var(--alpha);

  .card-header{
    @include flex(row, center, flex-start);
  }

  .icon{
    @include flex(row, center, center);
    background-color: var(--fond);
    border-radius: 60px;
    padding: 16px;
    font-size: 20px;

    & + div{
      width: calc(100% - 20px - 24px);
      margin-left: 24px;
    }
  }

  .name{
    @include fontBold();
    font-size: 22px;
    margin-bottom: 12px;
  }

  .card-body, .card-footer{
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(--fond);
  }

  .card-body{
    .item{
      @include flex(row, center, space-between);
      opacity: 0.8;

      .col-1{
        width: calc(100% - 40% - 12px - 70px);
        margin-right: 12px;
      }

      .col-2{
        width: calc(40% - 12px);
        margin-right: 12px;
      }
      .col-3{
        width: 70px;

        &.actions{
          @include flex(row, flex-start, flex-end);
        }
      }
    }
  }

  .card-footer{
    .line{
      margin-bottom: 4px;
    }
    .form-button{
      .btn{
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }

  &.expenses{
    .icon{
      background-color: var(--dangerShadow);
    }
  }

  &.regular{
    .icon{
      background-color: var(--color0Shadow);
    }
  }

  &.income{
    .icon{
      background-color: var(--primaryShadow);
    }
  }

  &.economy{
    .icon{
      background-color: var(--warningShadow);
    }
  }

  &.current{
    color: var(--alpha);
    border: none;
  }

  &.current.true{
    background-color: var(--success);
  }
  &.current.false{
    background-color: var(--danger);
  }
}

//                      __   _____ __    ___    __
//                     | _| |___  / /_  ( _ )  |_ |
//    _____ _____ _____| |     / / '_ \ / _ \   | |_____ _____ _____
//   |_____|_____|_____| |    / /| (_) | (_) |  | |_____|_____|_____|
//                     | |   /_/  \___/ \___/   | |
//                     |__|                    |__|
@media (min-width:768px) {
  .planning-line.planning-line-3{
    @include flex(row, flex-start, flex-start);
    width: calc(100% + 12px);

    & > *{
      width: calc(33% - 12px);
      margin-right: 12px;
    }

    & > .card:not(:last-child){
      margin-bottom: 0;
    }
  }
}

//                      __   _ ____  ___   ___    __
//                     | _| / |___ \( _ ) / _ \  |_ |
//    _____ _____ _____| |  | | __) / _ \| | | |  | |_____ _____ _____
//   |_____|_____|_____| |  | |/ __/ (_) | |_| |  | |_____|_____|_____|
//                     | |  |_|_____\___/ \___/   | |
//                     |__|                      |__|
@media (min-width:1280px) {
  .planning-line{
    margin-bottom: 24px;
  }
  .planning-line.planning-line-3{
    width: calc(100% + 24px);

    & > *{
      width: calc(33% - 24px);
      margin-right: 24px;
    }
  }
}